body {
    font-size: 18px;
}

h1, h2, h3, h4, h5, legend {
    text-align: center;
    font-size: 24px;
    line-height: 1.25em;
    font-family: 'BodoniRecutFSRegular',Georgia,"Times New Roman",Times,serif;
    margin-bottom: 0px;
    color: #59b1ad !important;
}

.glyphicon-home {
    margin-right: 10px;
}

.slick-prev:before, .slick-next:before {
    font-size: 80px !important;
    color: #5FC5C1 !important;
}

.slick-prev, .slick-next {
    height: 80px !important;
    width: 80px !important;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    outline: none;
    background: transparent;
    color: #478d89 !important;
}

.custom-component {
    min-height: 20px;
    padding: 25px !important;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

a {
    color: #5FC5C1 !important;
    text-decoration: none;
}

.panel-primary {
    border-color: #5FC5C1 !important;
}

.panel-primary>.panel-heading{
    background-color: #5FC5C1 !important;
    border-color: #5FC5C1 !important;
}

.panel-body {
    padding: 0px;
}

.panel-footer .pagination {
    margin: 0;
}

.panel .glyphicon, .list-group-item .glyphicon {
    margin-right: 5px;
}

.panel-body .radio, .checkbox {
    display: inline-block;
    margin: 0px;
}

.panel-body input[type=checkbox]:checked + label {
    text-decoration: line-through;
    color: rgb(128, 144, 160);
}

div.wide {
    min-width: 400px;
    min-height: 600px;
    border: 1px solid #5FC5C1;
}