<div class="col-md-1"></div>
<div class="col-md-10">
    <img src="../images/logo-color.svg" class="img-responsive"/>
    <h1>Jewels Slider</h1>
    <ul class="breadcrumb">
        <li class="active"><a ng-href="/" class="text-center"><i class="glyphicon glyphicon-home"></i>Home</a></li>
    </ul>
    <div class="well bs-component custom-component">
        <slick responsive="true" speed="1200" ng-if="dataLoaded" arrows="true" infinite="false" slides-to-scroll="4" init-onload="false" data="dataLoaded" slides-to-show="4" dots="false">
            <div ng-repeat="image in images track by $index">
                <img class="img-responsive" style="width:450px; height:682px" ng-src="{{ image }}" alt="" />
            </div>
        </slick>
    </div>
</div>
<div class="col-md-1"></div>